@charset "UTF-8";

/* 管理画面共通 */

.adminContentsArea{
    display: flex;
}

.adminHeader{
    background-color: #fff;
    width: 100%;
    padding: 5px 20px;
    text-align: right;
    border-bottom: #D3D3D3 solid 1px;
}

.rightContents{
    background-color: #EEEEEE;
    width: calc(100% - 170px);
}

.adminAside{
    height: 100vh;
    width: 170px;
    background-color: #88c8ac;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 0;
}

.adminAside nav {
    width: 100%;
    text-align: left;
}

.pankuzu {
    background-color: #F5F5F5;
}

.pankuzulist {
  display: flex !important;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0;
  margin: 0 10px;
}

.pankuzulist li {
  display: inline-flex !important;
  align-items: center;
}

.pankuzulist li:not(:last-child)::after {
  content: "＞";
  margin: 0 10px;
  cursor: default;
}

.pankuzucontent {
  text-decoration: none;
  color: #007bff;
}

.pankuzucontent:hover {
  text-decoration: underline;
}

.contentHome {
    background-color: #EEEEEE;
}

/* login */

.loginFormArea {
    box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 8%), -2px -2px 7px 1px rgb(0 0 0 / 8%);
    max-width:400px;
    width:90%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.loginFormArea h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login{
    position: relative;
    height: 100vh;
    padding: 20vh 0;
}

.loginItemBox {
    margin-bottom: 1.5rem;
}

.loginItem {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.loginInput {
    border: solid 1px #cbcbcb;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
}

.btn_login {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: #88c8ac;
    border-radius: 8px;
}

/* aside */
.aside_menu {
    border-bottom: #fff solid 1px;
    padding: 4px 8px;
}

/* ハンバーガーメニュー */
.hamburger_box {
    width: 24px;
    padding: 4px 2px 20px;
    cursor: pointer;
    margin: 10px;
}

.hamburger_box span {
    width: 100%;
    height: 1px;
    background-color: white;
    display: block;
}

.hamburger_box span:nth-child(1) {
    top: 0;
}

.hamburger_box span:nth-child(2) {
    margin: 8px 0;
}

.hamburger_box span:nth-child(3) {
    top: 0;
}

/* HOME */
.HomeBox {
    margin: 20px;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display: flex;
    height: auto;
    min-height: 100px;
    padding: 0;
}

.HomeTitleBox {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.HomeTitleBox a {
    background-color: #EEEEEE;
    padding: 5px;
    border-radius: 6px;
}

.HomeTitle {
    color: #88c8ac;
    font-size: 1.2rem;
    margin: 10px 20px 10px;
}

.contentHome h2 {
    font-size: 1.4rem;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.btn_signup {
    background-color: #88c8ac;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
}

/* テーブルデザイン */
.adminTableArea {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.tableThead th {
    background-color: #f8f9fa;
    border-bottom: 2px solid #eee;
    border-right: 1px solid #eee;
    padding: 15px 8px;
    text-align: center;
    color: #333;
}

.tableTbody td {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 12px 8px;
    text-align: left;
    color: #000;
}

.tableThead th:last-child,
.tableTbody td:last-child {
    border-right: none;
}

.tableTbody td:first-child {
    text-align: center;
}

.tableCreateLink {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 15px;
    font-size: 0.85rem;
    transition: 0.2s;
}

.touroku {
    background-color: #EEEEEE;
}

.signupContainer {
    margin: 30px 20px;
}

.signupItem {
    margin-bottom: 10px;
}

.signupRequired {
    background-color: #88c8ac;
    color: white;
    border-radius: 8px;
    padding: 2px 4px;
}

.signupLabel {
    margin: 0 5px;
}

.signupInput {
    border: solid 1px #DDDDDD;
    width: 100%;
    min-width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 10px;
}

.signupRemarks {
    border: solid 1px #DDDDDD;
    width: 100%;
    min-width: 400px;
    min-height: 100px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 10px;
}

.signupButton {
    border: #DDDDDD solid 1px;
    border-radius: 6px;
    padding: 5px 10px;
}

/* error */
.errorMessage {
    color: red;
}