@charset "UTF-8";

/* user_base.blade.php */
.main {
    color: #333;
}

.contentsArea {
    width: 100%;
    padding: 80px 20px 50px;
}

/* フォーム表示部 */
.contactMainBox {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

/* index.blade.php */
.contactItem {
    border-top: 1px #eaedf2 solid;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.textItem {
    padding: 20px 10px;
    width: 40%;
}

.inputItem {
    padding: 20px 10px;
    width: 60%;
}

.textInput {
    background-color: #eaedf2;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.textItem label {
    font-size: 1rem;
    font-weight: bold;
}

.dateInput {
    border: 1px #888b91 solid;
}

.select {
    border: 1px #888b91 solid;
}

.contactText {
    background-color: #ebedf2;
    width: 100%;
    height: 200px;
}

.errorMessage {
    color: red;
    display: block;
    margin-top: 5px;
}

/* ボタン */
.submitButton {
    width: 90%;
    margin: auto;
    max-width: 300px;
    background-color: #88c8ac;
    border: 2px #333 solid;
    border-radius: 8px;
    display: block;
    padding: 20px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

/* confirm.blade.php */
.dataContentItem{
    border-top: 1px #eaedf2 solid;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

/* .dataContentItemP {

} */

/* send.blade.php */
.sendContentItem {
    border-top: 1px #eaedf2 solid;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.sendMessageBox {
    background-color: #c2e5d3;
    color: green;
    font-size: 1.8rem;
}